In [25]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer ## Helps in vectorizing TF-IDF

In [26]:
InputA = 'NLP is dealing with understanding & processing human language'
InputB = 'NLP is being used for translation and chatbots by organizations'

In [27]:
# Converting the raw text into bag of words 
BoWA = InputA.split(' ')
BoWB = InputB.split(' ')

In [28]:
# Removing duplicates using set
uniqueWords = set(BoWA).union(set(BoWB))

In [29]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in BoWA:
    numOfWordsA[word] += 1
    
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in BoWB:
    numOfWordsB[word] += 1

In [30]:
# Implementing Term Frequency
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [31]:
#Calculating TF for the 2 documents
tfA = computeTF(numOfWordsA, BoWA)
tfB = computeTF(numOfWordsB, BoWB)

In [32]:
#Implementing Inverse Data Frequency
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [33]:
# Calculating IDFs for both the documents - its calculated jointly
idfs = computeIDF([numOfWordsA, numOfWordsB])

In [34]:
# TF-IDF is finally computed as product of TF and IDF
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [35]:
# Calculating TF-IDF scores for all the words in the 2 documents
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [36]:
df

,language,for,with,used,and,chatbots,human,dealing,&,by,NLP,being,translation,processing,is,organizations,understanding
0,0.077016,0.000000,0.077016,0.000000,0.000000,0.000000,0.077016,0.077016,0.077016,0.000000,0.0,0.000000,0.000000,0.077016,0.0,0.000000,0.077016
1,0.000000,0.069315,0.000000,0.069315,0.069315,0.069315,0.000000,0.000000,0.000000,0.069315,0.0,0.069315,0.069315,0.000000,0.0,0.069315,0.000000

In [37]:
# A shortcut to calculating TF-IDF is to use the class provided sklearn
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([InputA, InputB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df1 = pd.DataFrame(denselist, columns=feature_names)

In [38]:
df1

,and,being,by,chatbots,dealing,for,human,is,language,nlp,organizations,processing,translation,understanding,used,with
0,0.000000,0.000000,0.000000,0.000000,0.377628,0.000000,0.377628,0.268685,0.377628,0.268685,0.000000,0.377628,0.000000,0.377628,0.000000,0.377628
1,0.333102,0.333102,0.333102,0.333102,0.000000,0.333102,0.000000,0.237005,0.000000,0.237005,0.333102,0.000000,0.333102,0.000000,0.333102,0.000000